.App {
  height: 100vh;
}
.checkTokenBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.submitBtn {
  margin-top: 20px;
}
.tabWrapper {
  width: 38%;
  position: relative;
  top: 20vh;
  margin: 0 auto;

  border-radius: 10px;
  background-color: #E1E2E2 !important;

}

.MuiTabs-flexContainer {
  justify-content: center;
  background-color: #1F3044;
  border-radius: 10px 10px 0 0;
}
.PrivateTabIndicator-colorSecondary-3 {
  background-color: #FB9039 !important;
}

.MuiTabPanel-root {
  min-height: 270px;
}
.MuiAppBar-colorPrimary {
  border-radius: 10px 10px 0 0;
}


/*     Forms     */

.signup-form {
  padding-bottom: 10px;
}

.login-form {
  position: relative;
  top: 15%;
}

.MuiFormControl-root {
  width: 50%;
  margin-top: 6px !important;
}

.MuiFormLabel-root {
  color: rgb(41, 40, 37) !important;

}
.MuiInputBase-input {
  color: #916440 !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #be9e62 !important;
}

.MuiInput-root {
  margin-top: 20px !important;
}

.MuiButton-contained {
  color: rgb(255, 255, 255) !important;
  background-color: #fb9039af !important;
}

.MuiButton-outlined {
  background-color: #FB9039 !important;
  transition: background-color 0.5s !important;
}

.MuiButton-outlined.Mui-disabled {
  background-color: rgba(255, 255, 255, 0.226) !important;
  color: rgba(0, 0, 0, 0.473) !important;
}

.MuiButton-outlined:hover {
  background-color: #fb903988 !important;
}

.MuiButton-root {
  color: #000 !important;
}

.MuiBox-root {
  margin-top: 30px !important;
}
