:root {
  --TAB_WRAPPER_BG_COLOR: #e1e2e2;
  --HIGHLIGHT_COLOR: #e0c8aae3;
  --TAB_HEADER_BG_COLOR: #1f3044;
  --TAB_INDICATOR_BG_COLOR: #d17428;
  --LABEL_COLOR: rgb(41, 40, 37);
  --INPUT_COLOR: #916440;
  --INPUT_UNDERLINE_COLOR: #be9e62;
}

.App {
  height: 100vh;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.submitBtn {
  margin-top: 20px;
}
.tabWrapper {
  width: 38%;
  position: relative;
  top: 17vh;
  margin: 0 auto;

  border-radius: 10px;
  background-color: var(--TAB_WRAPPER_BG_COLOR);
}

.MuiTabs-flexContainer {
  justify-content: center;
  background-color: var(--TAB_HEADER_BG_COLOR);
  border-radius: 10px 10px 0 0;
}

.tabWrapper .MuiTabs-indicator {
  background-color: var(--TAB_INDICATOR_BG_COLOR);
}

.MuiTabPanel-root {
  min-height: 270px;
}
.App .MuiAppBar-colorPrimary {
  background-color: var(--TAB_HEADER_BG_COLOR);
}



/*     Forms     */

.signup-form {
  padding-bottom: 10px;
}

.login-form {
  position: relative;
  top: 15%;
}

.signup-form .MuiFormControl-root,
.login-form .MuiFormControl-root {
  width: 75%;
  margin: 15px 3% 15px 0;

}

.signup-form .MuiFormLabel-root.Mui-focused,
.login-form .MuiFormLabel-root.Mui-focused {
  color: var(--LABEL_COLOR);
}

.signup-form .MuiInputBase-input,
.login-form .MuiInputBase-input {
  color: var(--INPUT_COLOR);
}

.signup-form .MuiInput-underline:after,
.login-form .MuiInput-underline:after {
  border-bottom: 2px solid var(--INPUT_UNDERLINE_COLOR);
}

.login-form .MuiBox-root{
  width: 82px;
  height: 36px;
}

.signup-form .MuiBox-root {
  width: 93px;
  height: 36px;
}

.login-form .MuiButton-outlined,
.signup-form .MuiButton-outlined {
  width: 100%;
  height: 100%;
}




/* MEDIA */

@media(max-width: 1090px) {
  .tabWrapper {
    width: 50%;
  }
}
@media(max-width: 870px) {
  .tabWrapper {
    width: 80%;
  }
}
@media(max-width: 470px) {
  .tabWrapper,
  .tabWrapper .MuiFormControl-root {
    width: 90%;
  }
}


::selection {
  background: var(--HIGHLIGHT_COLOR);

}
::-moz-selection {
  background: var(--HIGHLIGHT_COLOR);
}
