.chatWrapper {
    height: calc(100vh - 84px);
    /* background-color: rgb(241, 235, 235); */
}

.chat {
    width: 55%;
    min-width: 320px;
    height: 95%;
    margin: 20px auto;
    background-color: #e9f0f7;
    border: 1px solid rgb(165, 186, 201);
    /* overflow-y: scroll; */
}
@media(max-width: 780px) {
    .chat {
        width: 80%;
    }
}
@media(max-width: 470px) {
    .chatWrapper {
        height: calc(100vh - 56px);
    }
    .chat {
        width: 95%;
    }
}

.chatHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 15px;

    font-size: 1.3rem;
    background-color: #81a4c7;
    color: #fff;
}

.selectionArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 
}

.selectionArea .MuiIconButton-root {
    width: 15px !important;
    height: 15px !important;

}


.messagesAreaWrapper {
    height: calc(100% - 139px);
    overflow-y: auto;
    padding: 0 15px;
}

.messagesArea {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: calc(100% - 10px);
    min-height: 100%;
    padding: 5px;
    scroll-padding-bottom: 300px;
}

.messageWrapper {
    display: flex;
    align-items: flex-start;
}

.messageWrapper-otherMessage {
    flex-direction: row-reverse;
}

.messageWrapper-myMessage {
    align-self: flex-end;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 10px;
    z-index: 1000;

    border-radius: 10px;
    background-color: bisque;
    font-size: 1.1rem;
}

.selectedMessage {
    background-color: rgb(233, 209, 179);

}

.myMessage {
    align-self: flex-end;
}

.myMessage .userName {
    display: none;
}

.userName {
    font-size: 0.8rem;
    color: rgba(58, 56, 56, 0.815);
    margin-bottom: 3px;

    cursor: default;
}

.userEmail {
    cursor: default;
}

.userEdited {
    align-self: flex-end;
    margin-top: 3px;
    font-size: 0.5rem;
    color: rgba(58, 56, 56, 0.815);
}

.userNotEdited {
    display: none;
}

.sendTime {
    align-self: flex-end;
    margin-top: 4px;
    font-size: 0.5rem;
}

.myMessage .sendTime {
    align-self: flex-start;
}

.messageAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.messageWrapper-myMessage .messageAvatar {
    background-color: rgb(224, 231, 119);
}

.messageWrapper-otherMessage .messageAvatar {
    background-color: rgb(101, 189, 201);
}

.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbd8e6;
}

.MuiInputBase-input {
    background-color: #d9e3eb !important;
    color: #000 !important;
}

.MuiFormControl-root {
    width: 75% !important;
    margin: 15px 0 !important;
    margin-right: 3% !important;
}
/* .MuiFilledInput-underline.Mui-focused {
    border: none !important;
    color: #fff !important;
    background-color: #fff !important;
} */
.MuiOutlinedInput-root.Mui-focused {
    color: #fff !important;
}

.MuiDialog-paperWidthSm {
    width: 25vw !important;
}

.MuiDialog-paperWidthSm .MuiTypography-h6 {
    font-size: 1rem;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }